{% extends 'base.html' %}

{% block content %}
    <div class="login-main">
        <div class="login-form">
            <form method="post" novalidate>
                <div class="login-intro">
                    <h1>Login to  <br> Quiz Buzz!</h1>
                    <p>Create any type of test, from easy <br> to complex.</p>
                </div>
                {{ form.hidden_tag() }}
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                    {{ form.username(placeholder="Username") }}
                    {% for error in form.username.errors %}
                <span style="color:red;"> {{ error }} </span>
                {% endfor %}
                </div>
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ form.password(placeholder="Password") }}
                    {% for error in form.password.errors %}
                <span style="color:red;"> {{ error }} </span>
                {% endfor %}
                </div>
                <!-- <p>{{ form.remember_me() }} {{ form.remember_me.label }}</div> -->
                <div class="form-para">
                    <p>Forgot Password? {{ form.submit(class="btn btn-primary") }}</p>
                </div>
                <div class="form-para">
                    <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                </div>
            </form>
        </div>
        <img src="{{ url_for('static', filename='images/boy-with-glasses.jpg') }}" class="login-img">
    </div>
{% endblock %}