{% extends 'base.html' %}

{% block content %}
    <div class="register-main">
        <img src="{{ url_for('static', filename='images/kids-studying-from-home.gif') }}" alt="kids-studying-from-home" class="register-img">
        <div class="register-form">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="register-intro">
                    <h1>Create your <br>Account now!</h1>
                    <p>Get unlimited typeforms, questions and responses. <br> Free Forever.</p>
                </div>

                <!-- <div class="alert alert-danger">
                {% for error in form.username.errors %}
                    {{ error }} 
                {% endfor %}
                {% for error in form.email.errors %}
                    <br>{{ error }}
                {% endfor %}
                {% for error in form.password.errors %}
                    <br>{{ error }}
                {% endfor %}
                {% for error in form.password2.errors %}
                    <br>{{ error }}
                {% endfor %}
                </div> -->

            
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    </svg>
                    {{ form.username(placeholder="Username") }}
                    {% for error in form.username.errors %}
                    <span style="color:red;"> {{ error }} </span>
                    {% endfor %}
                </div>
                
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                    </svg>
                    {{ form.email(placeholder="Email") }}
                    {% for error in form.email.errors %}
                    <span style="color:red;"> {{ error }} </span>
                    {% endfor %}
                </div>
                
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-key" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                    {{ form.password(placeholder="Password") }}
                    {% for error in form.password.errors %}
                    <span style="color:red;"> {{ error }} </span>
                    {% endfor %}
                </div>
                
                <div class="form-para">
                    <svg width="30px" height="30px" viewBox="0 0 16 16" class="bi bi-key-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                    </svg>
                    {{ form.password2(placeholder="Confirm Password") }}
                    {% for error in form.password2.errors %}
                        <span style="color:red;"> {{ error }} </span>
                    {% endfor %}
                </div>
                
                <div class="form-para">
                    <p>{{ form.submit(class="btn btn-primary") }}</p>
                </div>
                
                <div class="form-para">
                    <p>Already have an account? <a href="#">Login</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}